body {
    font-family: SansRegular !important;
}

.card {
    padding: 10px !important;
    border-radius: 5px;
    border: none !important;
    box-shadow: 0px 3px 29px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
}

.card-body h4 {
    text-align: center;
    margin-bottom: 30px;
    font-family: SansBold;
    font-size: 30px;
}

.form-group {
    margin-bottom: 12px;
}

.form-group input {
    border-radius: 20px !important;
    border: 1px solid #e6e6e6 !important;
}

input {
    padding: 20px !important;
    font-family: SansRegular !important;
    letter-spacing: .3px !important;
}

.border-outline {
    height: 1px;
    width: 100%;
    background: #e6e6e6;
    margin-top: 25px;
    margin-bottom: 18px;
}

p.has-account {
    text-align: center;
    color: #666;
}


::placeholder {
    font-size: 13.5px;
    color: #b5b5b5 !important;
}