.form-group {
    margin-bottom: 20px;
}

.forget-account {
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
}

.btn-login {
    border-radius: 20px;
    width: 100%;
    background: #0984e3 !important;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    padding: 7px;
    font-family: SansBold;
    letter-spacing: .4px;
}