label {
    text-align: left !important;
    display: flex !important;
    justify-content: flex-start !important;
    padding: 0 !important;
    font-weight: bold;
    margin-bottom: 5px !important;
}

.btn-register-wrapper {
    display: flex;
    justify-content: center;

}

.btn-register {
    border-radius: 20px;
    width: 100%;
    background: #0984e3 !important;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    padding: 7px;
    font-family: SansBold;
    letter-spacing: .4px;
}