@font-face {
    font-family: SansBold;
    src: url(../font/GoogleSans-Bold.ttf);
}

@font-face {
    font-family: SansMedium;
    src: url(../font/GoogleSans-Medium.ttf);
}

@font-face {
    font-family: SansRegular;
    src: url(../font/GoogleSans-Regular.ttf);
}