.navbar {
    padding: 17px !important;
}

.navbar a {
    color: #0984e3 !important;
    font-family: SansRegular;
    letter-spacing: .3px;

}

.nav-login a {
    border: 2px solid #0984e3;
    padding: 4px 30px !important;
    border-radius: 30px;
    color: #0984e3 !important;
    font-size: 16px;
    font-family: SansMedium;
}

.nav-register a {
    border: 2px solid #0984e3;
    background: #0984e3;
    padding: 4px 30px !important;
    border-radius: 30px;
    color: #fff !important;
    font-size: 15px;
    font-family: SansMedium;
    margin-left: 10px;
}